exportClasses(map)
exportClasses(map.choropleth)
exportClasses(map.flow)
exportClasses(map.loess)
exportClasses(map.tps)
export(map)
exportMethods(choropleth)
exportMethods(initialize)
exportMethods(margins)
exportMethods(plot)
exportMethods(show)
importFrom(stats4,plot)
