exportClasses(map)
exportClasses(map.choropleth)
exportClasses(map.flow)
exportClasses(map.loess)
exportClasses(map.tps)
export(map)
exportMethods(choropleth)
exportMethods(initialize)
exportMethods(inset)
exportMethods(mapHistogram)
exportMethods(mapLegend)
exportMethods(map.loess)
exportMethods(margins)
exportMethods(plot)
exportMethods(plotHistLegend)
exportMethods(plotLegend)
exportMethods(show)
importFrom(stats4,plot)
